{% extends 'readersclub/base.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
  <div class="row">
    <div class="offset-by-two eight columns">
        <h2>About</h2>
        <p>This website provide a platform for book lovers find the information about books and
        share their thoughts with others.</p>
        <p>Users are required to login in if they want to write a review or vote for others' reviews.</p>
        <p>System managers are authorized to edit and add information of books and authors, and manage reviews</p>

        <p>
            For testers: Supervisor(tester: (secret)); User(Chrissy: (secret)), or you can sign up to create a new one.
            Editor(editor1: (secret)).
        </p>
        <p>If you have any questions, or you cannot find your favourite book here, feel free to contact us:
            <br>xxxxx@xxx.com
        </p>
    </div>
  </div>
{% endblock %}
