{% extends 'readersclub/base.html' %}

{% block title %}
    Author List
{% endblock %}


{% block content %}

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border-bottom: 2px solid gainsboro;
            border-top: 2px solid gainsboro;
            vertical-align: middle;
        }

        a {
            text-decoration: none;
        }

        a:hover {text-decoration: underline;}

        tr:hover {
          background-color: lightgrey;
        }

    </style>

    <div class="center">
        <form method="get" action="{% url 'readersclub_author_list_urlpattern' %}">
            <input name="q" placeholder="What are your looking for?" style="height: 35px; width: 200px">
            <button type="submit">SEARCH</button>
        </form>
    </div>

    {% if perms.readersclub.add_author %}
    <a
        href="{% url 'readersclub_author_create_urlpattern'  %}"
        class="button button-primary">
      Add New Author</a>
    {% endif %}

    <h2>Authors</h2>
    <table>
        {% for author in author_list %}
            <tr>
                <td style="text-align: center">
                    <img src="{{ author.picture_url }}"
                     style="height: 50px; width: 50px">
                </td>
                <td>
                    <a href="{{ author.get_absolute_url }}"style="font-size: x-large; color: black;
                    font-family: 'Questrial', sans-serif; padding-right: 20%; padding-bottom: 20px; padding-top: 20px">
                        {{ author }}
                    </a>
                </td>
            </tr>
        {% empty %}
            <li><em>There are currently no author available.</em></li>
        {% endfor %}
    </table>
    {% if is_paginated %}
        <div class="row">
            <div class="twelve columns">
                <ul class="pagination">
                    {% if first_page_url %}
                        <li>
                            <a href="{{ first_page_url }}">
                                First</a>
                        </li>
                    {% endif %}
                    {% if previous_page_url %}
                        <li>
                            <a href="{{ previous_page_url }}">
                                Previous</a>
                        </li>
                    {% endif %}
                    <li>
                        Page {{ page_obj.number }}
                        of {{ paginator.num_pages }}
                    </li>
                    {% if next_page_url %}
                        <li>
                            <a href="{{ next_page_url }}">
                                Next</a>
                        </li>
                    {% endif %}
                    {% if last_page_url %}
                        <li>
                            <a href="{{ last_page_url }}">
                                Last</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}
