{% extends 'readersclub/base.html' %}

{% block title %}
    Author List
{% endblock %}


{% block content %}
    {% if perms.readersclub.add_author %}
    <a
        href="{% url 'readersclub_author_create_urlpattern'  %}"
        class="button button-primary">
      Add New Author</a>
    {% endif %}

    <h2>Author List</h2>
    <ul>
        {% for author in author_list %}
            <li>
                <a href="{{ author.get_absolute_url }}">{{ author }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no author available.</em></li>
        {% endfor %}
    </ul>
    {% if is_paginated %}
        <div class="row">
            <div class="twelve columns">
                <ul class="pagination">
                    {% if first_page_url %}
                        <li>
                            <a href="{{ first_page_url }}">
                                First</a>
                        </li>
                    {% endif %}
                    {% if previous_page_url %}
                        <li>
                            <a href="{{ previous_page_url }}">
                                Previous</a>
                        </li>
                    {% endif %}
                    <li>
                        Page {{ page_obj.number }}
                        of {{ paginator.num_pages }}
                    </li>
                    {% if next_page_url %}
                        <li>
                            <a href="{{ next_page_url }}">
                                Next</a>
                        </li>
                    {% endif %}
                    {% if last_page_url %}
                        <li>
                            <a href="{{ last_page_url }}">
                                Last</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}
