{% extends 'readersclub/base.html' %}

{% block title %}
    Author List
{% endblock %}

{% block create_button %}
    {% if perms.readersclub.add_author %}
    <a
        href="{% url 'readersclub_author_create_urlpattern'  %}"
        class="button button-primary">
      Add New Author</a>
    {% endif %}
{% endblock %}

{% block content %}
    <h2>Author List</h2>
    <ul>
        {% for author in author_list %}
            <li>
                <a href="{{ author.get_absolute_url }}">{{ author }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no author available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}
