{% extends 'readersclub/base.html' %}
{% block title %}
    Author - {{ author }}
{% endblock %}

{% block content %}
    <h2> {{ author }} </h2>
    <ul>
        {% if perms.readersclub.change_author %}
        <a href="{{ author.get_update_url }}"
           class="button">Edit Author</a><br>
        {% endif %}

        {% if perms.readersclub.delete_author %}
        <a href="{{ author.get_delete_url }}"
           class="button">Delete Author</a>
        {% endif %}

    </ul>

    <section>
        <table>
            <tr>
                <td rowspan="6" style="vertical-align: top; padding-right: 20px">
                        <img src="{{ author.picture_url }}" style="height: 150px; width: 110px">
                </td>
            </tr>
            <tr>
                <th>First Name:</th>
                <td>{{ author.first_name }}</td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td>{{ author.last_name }}</td>
            </tr>
            <tr>
                <th>Pseudonym:</th>
                <td>{{ author.pseudonym }}</td>
            </tr>
            <tr>
                <th>Introduction:</th>
                <td>{{ author.introduction }}</td>
            </tr>
            <tr>
                <th>Awards:</th>
                <td>{{ author.awards }}</td>
            </tr>
        </table>
    </section>

    <section>
        <h3>Works:</h3>
        <ul>
            {% for work in works %}
            <li>
                <a href="{{ work.get_absolute_url }}">{{ work.title }}</a>
            </li>
            {% empty %}
                <li><em>There are currently no work for this author.</em></li>
            {% endfor %}
        </ul>
    </section>
    {% if is_paginated %}
        <div class="row">
            <div class="twelve columns">
                <ul class="pagination">
                    {% if first_page_url %}
                        <li>
                            <a href="{{ first_page_url }}">
                                First</a>
                        </li>
                    {% endif %}
                    {% if previous_page_url %}
                        <li>
                            <a href="{{ previous_page_url }}">
                                Previous</a>
                        </li>
                    {% endif %}
                    <li>
                        Page {{ page_obj.number }}
                        of {{ paginator.num_pages }}
                    </li>
                    {% if next_page_url %}
                        <li>
                            <a href="{{ next_page_url }}">
                                Next</a>
                        </li>
                    {% endif %}
                    {% if last_page_url %}
                        <li>
                            <a href="{{ last_page_url }}">
                                Last</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}
