{% extends 'readersclub/base.html' %}

{% block title %}
    Book List
{% endblock %}


{% block content %}
    <div class="center">
        <form method="get" action="{% url 'readersclub_book_list_urlpattern' %}">
            <input name="q" placeholder="What are your looking for?" style="height: 35px; width: 200px">
            <button type="submit">SEARCH</button>
        </form>
    </div>

    <div>
        {% if perms.readersclub.add_book %}
        <a
        href="{% url 'readersclub_book_create_urlpattern'  %}"
        class="button button-primary">
      Add New Book</a>
    {% endif %}
    </div>

    <h2>Books</h2>
    <ul>
        {% for book in book_list %}
            <li>
                <img src="../../static/readersclub/logo.png" style="height: 20px; width: 20px">
                <a href="{{ book.get_absolute_url }}" style="font-size: x-large;
                font-family: 'Questrial', sans-serif;">{{ book }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no book available.</em></li>
        {% endfor %}
    </ul>
    {% if is_paginated %}
        <div class="row">
            <div class="twelve columns">
                <ul class="pagination">
                    {% if first_page_url %}
                        <li>
                            <a href="{{ first_page_url }}">
                                First</a>
                        </li>
                    {% endif %}
                    {% if previous_page_url %}
                        <li>
                            <a href="{{ previous_page_url }}">
                                Previous</a>
                        </li>
                    {% endif %}
                    <li>
                        Page {{ page_obj.number }}
                        of {{ paginator.num_pages }}
                    </li>
                    {% if next_page_url %}
                        <li>
                            <a href="{{ next_page_url }}">
                                Next</a>
                        </li>
                    {% endif %}
                    {% if last_page_url %}
                        <li>
                            <a href="{{ last_page_url }}">
                                Last</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}
