{% extends 'readersclub/base.html' %}
{% block title %}
    Book - {{ book }}
{% endblock %}

{% block content %}
        <h2> {{ book }} </h2>
    <ul>
        {% if perms.readersclub.change_book %}
        <a href="{{ book.get_update_url }}"
           class="button">Edit Book</a><br>
        {% endif %}

        {% if perms.readersclub.delete_book %}
        <a href="{{ book.get_delete_url }}"
           class="button">Delete Book</a>
        {% endif %}

    </ul>

    <section>
        <table>
            <tr>
                <td rowspan="7" style="vertical-align: top;">
                        <img src="{{ book.picture_url }}" style="height: 150px; width: 150px">
                </td>
            </tr>
            <tr>
                <th>Title:</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>Author:</th>
                <td>{{ book.author }}</td>
            </tr>
            <tr>
                <th>Introduction:</th>
                <td>{{ book.introduction }}</td>
            </tr>
            <tr>
                <th>Publisher:</th>
                <td>{{ book.publisher }}</td>
            </tr>
            <tr>
                <th>Genre:</th>
                <td>{{ book.genre }}</td>
            </tr>
            <tr>
                <th>Rate:</th>
                <td>{{ book.rate }}</td>
            </tr>
        </table>
    </section>

    <section>
        <h3>Reviews</h3>
        {% if perms.readersclub.add_review %}
        <div>
            <a href="{% url 'readersclub_review_create_urlpattern' pk=book.pk %}"
            class="button button-primary">Write Review</a>
        </div>
        {% endif %}

        {% if perms.readersclub.delete_book %}
        <div>
            <a href="{% url 'readersclub_review_list_urlpattern' pk=book.pk %}"
            class="button button-primary">Manage Review</a>
        </div>
        {% endif %}

        <ul>
            {% for review in review_list %}
            <li>
                {{ review.author }}:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rate: {{ review.rate }}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ review.text }}
            </li>
            {% empty %}
                <li><em>There are currently no review for this book.</em></li>
            {% endfor %}
        </ul>
    </section>
    {% if is_paginated %}
        <div class="row">
            <div class="twelve columns">
                <ul class="pagination">
                    {% if first_page_url %}
                        <li>
                            <a href="{{ first_page_url }}">
                                First</a>
                        </li>
                    {% endif %}
                    {% if previous_page_url %}
                        <li>
                            <a href="{{ previous_page_url }}">
                                Previous</a>
                        </li>
                    {% endif %}
                    <li>
                        Page {{ review_list.number }}
                        of {{ paginator.num_pages }}
                    </li>
                    {% if next_page_url %}
                        <li>
                            <a href="{{ next_page_url }}">
                                Next</a>
                        </li>
                    {% endif %}
                    {% if last_page_url %}
                        <li>
                            <a href="{{ last_page_url }}">
                                Last</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}
