{% extends 'readersclub/base.html' %}
{% block title %}
    Book - {{ book }}
{% endblock %}

{% block content %}
        <h2> {{ book }} </h2>
    <ul>
        {% if perms.readersclub.change_book %}
        <a href="{{ book.get_update_url }}"
           class="button">Edit Book</a><br>
        {% endif %}

        {% if perms.readersclub.delete_book %}
        <a href="{{ book.get_delete_url }}"
           class="button">Delete Book</a>
        {% endif %}

    </ul>

    <section>
        <table>
            <tr>
                <td rowspan="7" style="vertical-align: top; padding-right: 20px">
                        <img src="{{ book.picture_url }}" style="height: 150px; width: 110px">
                </td>
            </tr>
            <tr>
                <th>Title:</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>Author:</th>
                <td><a href={{ book.author.get_absolute_url }}>{{ book.author }}</a></td>
            </tr>
            <tr>
                <th>Introduction:</th>
                <td>{{ book.introduction }}</td>
            </tr>
            <tr>
                <th>Publisher:</th>
                <td>{{ book.publisher }}</td>
            </tr>
            <tr>
                <th>Genre:</th>
                <td>{{ book.genre }}</td>
            </tr>
            <tr>
                <th>Rate:</th>
                <td>{{ book.rate }}</td>
            </tr>
        </table>
    </section>

    <section>
        <h3>Reviews</h3>
        {% if perms.readersclub.add_review %}
        <div>
            <a href="{% url 'readersclub_review_create_urlpattern' pk=book.pk %}"
            class="button button-primary">Write Review</a>
        </div>
        {% endif %}

        {% if perms.readersclub.delete_book %}
        <div>
            <a href="{% url 'readersclub_review_list_urlpattern' pk=book.pk %}"
            class="button button-primary">Manage Review</a>
        </div>
        {% endif %}

        <ul>
            {% for review in review_list %}
            <li>
                <p style="font-size: larger; font-family: Menlo; display: inline;">
                    <img src="../../static/readersclub/user.png" style="height: 50px; width: 50px; vertical-align: middle">
                    {{ review.author }}:
                </p>
                <p style="font-size: small; color: grey">{{ review.published_date }}</p>
                <p style="color: #710d0a; font-weight: bold">Rate: {{ review.rate }}</p>
                {{ review.text }}
                {% if perms.readersclub.add_review %}
                <div id="result">
                <form METHOD="get" action="{% url 'readers_club_review_vote' pk=book.pk %}#result">
                    <input type="hidden" value="{{ review.review_id }}" name="rid">

                    <button type="Submit" id="vote" value="vote" name="vote" onclick="changevote()"
                            style=" margin-top: 10px; padding-bottom: 10px; padding-left: 5px;
                            padding-right: 5px; border: none">
                        <img src="../../static/readersclub/orange-thumb-like.png" style="height: 30px; width: 30px; margin: 0">
                    </button>

                    <p id="helpful" style="display: inline; padding-left: 10px; font-size: small">Helpful: {{ review.vote }}</p>
                </form>
                </div>
                {% endif %}

            </li>
            {% empty %}
                <li><em>There are currently no review for this book.</em></li>
            {% endfor %}
        </ul>
    </section>
    {% if is_paginated %}
        <div class="row">
            <div class="twelve columns">
                <ul class="pagination">
                    {% if first_page_url %}
                        <li>
                            <a href="{{ first_page_url }}">
                                First</a>
                        </li>
                    {% endif %}
                    {% if previous_page_url %}
                        <li>
                            <a href="{{ previous_page_url }}">
                                Previous</a>
                        </li>
                    {% endif %}
                    <li>
                        Page {{ review_list.number }}
                        of {{ paginator.num_pages }}
                    </li>
                    {% if next_page_url %}
                        <li>
                            <a href="{{ next_page_url }}">
                                Next</a>
                        </li>
                    {% endif %}
                    {% if last_page_url %}
                        <li>
                            <a href="{{ last_page_url }}">
                                Last</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}

