{% extends 'readersclub/base.html' %}

{% block title %}
    Review List
{% endblock %}

{% block content %}

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border-bottom: 2px solid gainsboro;
            border-top: 2px solid gainsboro;
            vertical-align: middle;
        }
    </style>

    <div class="center">
        <form method="get">
            <input name="q" placeholder="What are your looking for?" style="height: 35px; width: 200px">
            <button type="submit">SEARCH</button>
        </form>
    </div>

    <h2>Reviews</h2>
    <table>
        <tr>
            <th></th>
            <th>Author:</th>
            <th>Text:</th>
            <th>Rate:</th>
        </tr>
        {% for review in review_list %}
            <tr>
                <td>
                    {% if perms.readersclub.delete_book %}
                        <a href="{{ review.get_delete_url }}"
                        class="button button-primary">Delete Review</a>
                    {% endif %}
                <td>{{ review.author }}</td>
                <td>{{ review.text }}</td>
                <td>{{ review.rate }}</td>
            </tr>

        {% empty %}
            <tr><em>There are currently no review available.</em></tr>
        {% endfor %}
    </table>
    {% if is_paginated %}
        <div class="row">
            <div class="twelve columns">
                <ul class="pagination">
                    {% if first_page_url %}
                        <li>
                            <a href="{{ first_page_url }}">
                                First</a>
                        </li>
                    {% endif %}
                    {% if previous_page_url %}
                        <li>
                            <a href="{{ previous_page_url }}">
                                Previous</a>
                        </li>
                    {% endif %}
                    <li>
                        Page {{ page_obj.number }}
                        of {{ paginator.num_pages }}
                    </li>
                    {% if next_page_url %}
                        <li>
                            <a href="{{ next_page_url }}">
                                Next</a>
                        </li>
                    {% endif %}
                    {% if last_page_url %}
                        <li>
                            <a href="{{ last_page_url }}">
                                Last</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}
